[2011-04-11 13:50] floweisshardt opened #1 "test"
testseta

[2011-04-11 13:51] #1 closed, assigned to nobody

[2013-09-11 14:36] destogl opened #81 "Hydro compile error"
Hello!

When I'm trying to compile hydro version from branch 'hydro_dev' I'm getting following error:

In file included from /home/stogl/Workspace/care-o-bot_hydro_catkin/src/cob_driver/cob_collision_velocity_filter/src/cob_collision_velocity_filter.cpp:50:0:
/home/stogl/Workspace/care-o-bot_hydro_catkin/src/cob_driver/cob_collision_velocity_filter/include/cob_collision_velocity_filter.h:80:73: sc

[2013-09-12 06:04] mgruhler commented on #81
Hey,

thanks for finding this.

This seems to be a problem with dynamic_reconfigure and catkin.
CollisionVelocityFilterConfig.h is autogenerated from the .cfg file in the folder cfg.

There seems to be a line missing in the CMakeLists.txt, that tells the compiler to generate the config (and thus the header file) before building the node. See [this tutorial](http://wiki.ros.org/dynamic_reconfigure/

[2013-09-12 08:44] destogl commented on #81
Thanks!

Changes in CMakeList.txt made compile successful.

[2013-09-12 08:44] #81 closed, assigned to nobody

[2013-09-28 03:08] reed-adept opened #87 "sick_s300: can't set baud rate (patch attached)"
in cob_sick_s300, the baud rate parameter does not end up being used, it is forced to 500000.   the  patch below removes that, and also allows you to use any baud rate rather than just a few (baud rate is just passed through to SerialIO code as an integer).  let me know if you prefer a pull request.

[code]

[2013-10-02 16:12] floweisshardt commented on #87
hi, many thanks for this patch. Can you just send it aspull request?

[2013-10-02 16:12] #87 closed, assigned to nobody

[2013-11-05 15:57] anefg opened #95 "Cob_trajectory_controller velocity setpoint"
Dear all,

We have a robotnik 6 dof robot arm with Schunk Powercube actuators.
People from Schunk told us that their actuators work with a position control loop. However, we have been analyzing the “cob_trajectory_controller” and it sends velocity setpoints to the schunk_powercube_chain node.
What is the reason to send  velocity setpoints? Is there a conversion from velocity to position in the sch

[2014-01-20 09:03] floweisshardt commented on #95
the conversion from pos to vel is done because the schunk_powercube_chain (libm5API) or the ipa_canopen_ros (CAN Open) are using incremental positions with a predefined time horizon for safety reasons. If the connections gets lost, the modules will only move for the small time horizon and stop but not crash into something.

[2014-01-20 09:03] #95 closed, assigned to nobody

[2014-03-13 18:20] benmaidel opened #106 "Bring Groovy Updates to Hydro"
This issue should be used to remember bringing PullRequests into Hydro that have only been tested for Groovy so far

@ipa-fmw
@ipa-nhg
@ipa-fxm

[2014-03-13 18:21] benmaidel commented on #106
@ipa-bnm #105

[2014-03-27 15:43] fmessmer opened #115 "Remove cob_camera_sensors?"
@ipa-jsf
@ipa-rmb

Is this package still needed?
Can you please clean this up?

[2014-03-27 16:04] floweisshardt commented on #115
there is at least a python script used for setting the camera info for the prosilica cameras: https://github.com/ipa320/cob_driver/tree/hydro_dev/cob_camera_sensors/ros/scripts

I think all other stuff is not used any more because it is not even build by the CMakeList.txt (same for groovy version already)

[2014-03-27 16:06] ipa-rmb commented on #115
This is part of Jan's realm. He has to decide.

[2014-03-27 16:09] floweisshardt commented on #115
@ipa-jsf: are you still using this stuff? can we delete it?

[2014-03-28 09:35] ipa-jsf commented on #115
@ipa-fxm: Keep source and header files: Nedded for windows.
@ipa-fxm: Keep scripts: Needed to convert matlab calibration into yaml format
@ipa-fxm: settings files: to be clarified with ipa-rmb

[2014-03-28 11:40] fmessmer commented on #115
obsolete file have been removed in #116

[2014-03-28 11:41] #115 closed, assigned to nobody

[2014-04-04 15:12] NadiaHG commented on #106
done

[2014-04-04 15:12] #106 closed, assigned to nobody

[2014-04-04 15:15] NadiaHG opened #120 "false timestamps in sick_s300 laser message"
@ipa-josh: we tested your modifications successfully on cob4-1 with hydro. We can display a single laser message in rviz.

But running the laser scanners together with other ROS nodes the timestamps don't fit together. the sick timestamp is ~55061077 sec in the past. Looking at the code there's some strange timestamp handling. Can you please clarify or fix to the current ROS timestamp.

[2014-04-07 14:36] floweisshardt commented on #120
tested on cob4-1: OK

[2014-04-07 14:36] #120 closed, assigned to ipa-josh

[2014-04-07 14:36] floweisshardt opened #124 "sick_s300 driver consumes up to 100% CPU load"
with the previous version there was a CPU load of <10% per scanner

[2014-04-25 12:35] NadiaHG commented on #124
#129 : the CPU consume is now < 5% per scanner

[2014-04-25 12:35] #124 closed, assigned to ipa-josh

[2014-04-30 09:00] ipa-alek opened #131 "cob_phidgets: phidgets_sensors not installed"
missing install tag

[2014-05-05 08:04] floweisshardt commented on #131
@ipa-bnm please check the install tags

[2014-05-05 14:19] floweisshardt opened #134 "separate message files out into standalone message packages"
e.g. messages in cob_sound (currently cob_script_server depends on cob_driver only due to messages in cob_sound)

[2014-05-05 15:35] mgruhler commented on #134
when you are on it, maybe also but the launch files in cob_robots?
- cob_sound
- cob_voltage_control
- cob_cam3d_throttle

[2014-05-06 09:26] fmessmer commented on #134
I guess all these issues could be tackled when re-structuring cob_hardware_conifg wrt to separation of X_driver.yaml and X_controller.yaml.

Then also:
- move cob_driver-launch files to cob_robots
- move cob_driver-yaml files to cob_robots
- separate message definitions
  Shall we have a separate repo for messages, cob_srvs, brics_actuator?

[2014-05-16 12:31] floweisshardt commented on #134
messages
./cob_relayboard/msg/EmergencyStopState.msg
./cob_phidgets/msg/DigitalSensor.msg
./cob_phidgets/msg/AnalogSensor.msg
./cob_light/msg/LightMode.msg

services
./cob_trajectory_controller/srv/SetFloat.srv
./cob_footprint_observer/srv/GetFootprint.srv
./cob_camera_sensors/srv/GetTOFImages.srv
./cob_camera_sensors/srv/AcquireCalibrationImages.srv
./cob_sound/srv/SayText.srv
./cob_base_drive_ch

[2014-05-21 07:32] floweisshardt opened #142 "separate controller into cob_control"

[2014-05-26 13:17] #131 closed, assigned to benmaidel

[2014-06-28 10:02] fmessmer commented on #142
@ipa-fmw
Please close this issue as the respective changes have been pushed into the ipa320 packages

[2014-06-30 11:08] #142 closed, assigned to floweisshardt

[2014-09-09 13:27] floweisshardt commented on #134
done

[2014-09-09 13:27] #134 closed, assigned to nobody

[2014-10-08 12:27] destogl opened #171 "cob_base_drive_chain or cob_undercarriage_control: if velocity twist message has NaN the wheels are uncontrollably rotate"
If velocity twist message has some of the values NaN this value is not filtered out but rather the wheels are starting uncontrollably rotate (around steering axis) and platform shuts down (probably because of to high current). This case should be avoided by checking the input values by corresponding components.

[2014-10-08 15:13] floweisshardt commented on #171
@destogl  thanks for pointing that out. Do you know which component was sending the NaN twist? That would be important to fix too.

[2014-11-17 09:14] floweisshardt opened #175 "add comments in LED message"
@thiagodefreitas: please add some comment here to indicate for what led_numbers and colors can be used. (e.g. which mode, default value, ...). Should be similar to the comments for the other message entries above.

[2014-11-24 13:54] #175 closed, assigned to thiagodefreitas

[2014-11-24 13:56] floweisshardt opened #181 "cob_light: use frequency in breath mode"
frequency in breath mode should be used similar to flash mode. E.g. a frequency of 3 Hz should breath 3 times per second (on-off-on-off-on-off)

[2014-11-24 14:00] floweisshardt opened #182 "cob_light (stageprofi): LEDs are flickering if using breath mode"
this happens e.g. for
mode = 3
frequency = 20

could be related to the way the messages are published. Probably solving together with #181

[2014-11-24 14:29] floweisshardt opened #183 "cob_light (stageprofi): Port closed error message after a few minutes"
After a few minutes in operation, the driver is stopping and throwing the following Warning:
[ WARN] [1416839000.117379774]: Can not write to serial port. Port closed!

this happened e.g. with
mode = 3
frequency = 20

and
mode = 5
frequency = 10

[2014-11-24 15:40] floweisshardt commented on #182
comment from @ipa-bnm: set all LEDs with one dmx message for predefined modes (1...5).

we only need to set individual ids, if colors[] array is set.

[2014-11-24 15:54] thiagodefreitas commented on #182
@ipa-fmw Seems to be a know problem with our DMX setup. We currently need
to write them sequentially into the serial. From the feedback from the
Openlighting people, this seems to be a bug. They are investigating the
problem themselves and I would prefer to wait for them.

On Mon, Nov 24, 2014 at 4:40 PM, Florian Weisshardt <
notifications@github.com> wrote:

[2014-11-28 15:41] #181 closed, assigned to benmaidel

[2014-11-28 15:41] #182 closed, assigned to thiagodefreitas

[2014-11-28 15:41] #183 closed, assigned to thiagodefreitas

[2014-11-28 15:42] floweisshardt commented on #182
solved through @ipa-bnm in https://github.com/ipa320/cob_driver/pull/184

[2014-12-03 12:53] floweisshardt opened #186 "document mimic in ROS wiki"

[2014-12-04 09:50] Acuda opened #187 "cob_light: infinity-loop with output "Error sending stageprofi""
very sporadic error and not permanently reproducible.
because ros didn't wrote the log, the console-output "Error sending stageprofi" are all i have.

[2014-12-04 11:32] floweisshardt commented on #186
should be a list of all available modes with screenshots

[2014-12-04 11:52] benmaidel commented on #187
Is this error happening directly after the node launched or after some time?

[2014-12-10 09:47] destogl commented on #171
It was my component, it was a bug during develpement.

[2014-12-10 15:20] floweisshardt commented on #186
list with final names: http://wiki.ros.org/cob_mimic (still missing screenshots, @ipa-nhg can you add that please?)

[2015-01-23 15:43] #187 closed, assigned to benmaidel

[2015-01-28 13:17] NadiaHG commented on #186
Done! http://wiki.ros.org/cob_mimic

[2015-01-30 13:52] floweisshardt commented on #186
looks good.

[2015-01-30 13:52] #186 closed, assigned to ipa-nhg

[2015-02-06 21:10] destogl commented on #171
Since is fixed I'll close it.

[2015-02-06 21:10] #171 closed, assigned to nobody

[2015-03-03 11:56] benmaidel opened #207 "base_drive_chain's diagnostics message is published with 100 Hz"
The base_drive_chain diagnostics message is published with 100Hz. This is not necessary and should be reduced. I think every half second or second is absolutely enough and could be easily done with a simple ros timer.
@ipa-mig What do you think?

[2015-03-03 12:52] mgruhler commented on #207
yes, this is fine for me.
We need to take into account, however, that there are two diagnostic msgs. The global one does not need to go out at 100Hz, as far as I now. @ipa-fmw @abubeck can you confirm this?
The local diagnostics reside in the base_controller namespace and are currently misused as a means of communication with the undercarriage_ctrl. So this should be kept at a high rate, as far as

[2015-03-03 13:03] floweisshardt commented on #207
+1 for low-frequency (1Hz) global diagnostics

[2015-03-13 16:40] fmessmer opened #208 "[Indigo] adjust cob_head_axis namespace"
In order to be able to use new namespaces with cob3-X the follow_joint_trajectory action name in cob_head_axis should be adjusted!

The relevant lines are:
- https://github.com/ipa-fxm/cob_driver/blob/indigo_dev/cob_head_axis/ros/src/cob_head_axis.cpp#L143
- https://github.com/ipa-fxm/cob_driver/blob/indigo_dev/cob_head_axis/ros/src/cob_head_axis.cpp#L579

Instead of using the node name as part of

[2015-03-17 13:50] floweisshardt opened #209 "remove sound.launch from cob_sound package"
and add it to cob_bringup

[2015-03-18 06:28] fmessmer commented on #208
done in #210

[2015-03-18 06:50] fmessmer commented on #209
done in #210

[2015-03-19 16:55] #209 closed, assigned to ipa-nhg

[2015-03-19 16:59] #208 closed, assigned to nobody

[2015-03-31 17:08] floweisshardt opened #212 "cob_light_sim: catkin build errors"
message generation is not triggered before building sources.

Error log:
In file included from /u/fmw/git/care-o-bot/src/cob_driver/cob_light_sim/src/qnode.cpp:18:0:
/u/fmw/git/care-o-bot/src/cob_driver/cob_light_sim/src/../include/cob_light_sim/qnode.hpp:24:38: fatal error: cob_light/ColorRGBAArray.h: No such file or directory
 #include <cob_light/ColorRGBAArray.h>

[2015-04-07 20:22] ipa-cob4-2 opened #214 "[cob_mimic] mimic display errors"
running mimic there are the following errors
- can hardly be killed by ctrl-c
- service call freeces sometimes
- throws contiuously the following errors:

[code]

[2015-04-20 06:15] fmessmer commented on #212
see https://github.com/ipa320/cob_driver/pull/213#discussion-diff-27900867

[2015-04-20 07:03] fmessmer commented on #207
change this on the Wednesday-Hackathon?

[2015-04-20 07:08] mgruhler commented on #207
if you find the time, would be perfect!
Be careful though about the "misued" local diagonstics. I don't think they should be set down (at least not without extensive testing in combination with the undercarriage_ctrl).

[2015-04-20 07:15] fmessmer commented on #207
Can you give an example for one of those

[2015-04-20 07:21] mgruhler commented on #207
https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_base_drive_chain/ros/src/cob_base_drive_chain.cpp#L691-715
here, the diagnostics are used to communicate with the undercarriage ctrl about the initialization status of the wheels/motor controllers. This is handled here:
https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_undercarriage_ctrl/ros/src/cob_undercarriage_ctrl.cpp#L347-416

No

[2015-04-23 11:48] floweisshardt opened #219 "cob_light only publishes diagnostics once"
diagnostics is only published once at the beginning but should be published with approx. 1Hz

[2015-04-29 11:18] floweisshardt commented on #219
done in https://github.com/ipa320/cob_driver/pull/222

[2015-04-29 14:02] #219 closed, assigned to benmaidel

[2015-04-29 14:16] floweisshardt commented on #212
outdated
superceeded by #220 and #221

[2015-04-29 14:17] #212 closed, assigned to benmaidel

[2015-05-26 18:43] benmaidel commented on #207
http://wiki.ros.org/diagnostic_updater

[2015-05-26 19:03] benmaidel opened #224 "[cob_phidgets][cob_light] Critical compiler warnings in phidgets and lights"
This compiler warnings should get fixed:
- cob_phigets
  - [implicit conversion from 'double' to 'unsigned int' changes value from 0.5 to 0](https://github.com/ipa320/cob_driver/blob/2562b9247de5bc99141a3737b566360abda0b822/cob_phidgets/ros/src/phidget_manager.cpp#L80)
- cob_light
  - [control reaches end of non-void function (no return value)](https://github.com/ipa320/cob_driver/blob/2562b9247de

[2015-05-26 19:03] benmaidel commented on #224
@ipa-bnm

[2015-05-27 13:19] fmessmer commented on #224
Also have a look at these (minor) catkin_lint hints:

[code]

[2015-08-18 07:00] fmessmer opened #236 "[cob_light] Handling `sim_enabled` param in simulation"
See my comments about "Warning B" in https://github.com/ipa320/cob_simulation/issues/87#issuecomment-132086878

So far, we are using the same yaml for simulation and real hardware. This leads to the following warning:

In that yaml `sim_enabled` is set to false...thus, in simulation you cannot actually use `sim_enabled`

Maybe we should make it a private parameter that can be set via launch file a

[2015-08-18 07:44] fmessmer commented on #236
As `sim_enabled already is a private parameter....https://github.com/ipa320/cob_robots/pull/326 should fix the warning about failed serial connection in simulation

[2015-08-18 10:56] benmaidel commented on #236
as already in ipa320/cob_robots#326 commented, this is ok!

[2015-08-25 09:31] #236 closed, assigned to nobody

[2015-09-04 19:12] fmessmer commented on #224
@ipa-bnm
any progress here?

[2015-11-19 08:35] fmessmer opened #248 "[cob_scan_unifier] Update rate"
Some discussion history from https://github.com/ipa320/cob_robots/pull/367#issuecomment-157902641

Some hints that might help reduce the update rate while guaranteeing the desired behaviour:
- In order to ensure a certain publish rate for the assembled scan, a [ros::Timer](http://wiki.ros.org/roscpp/Overview/Timers) callback can/should be used
- in order to sync multiple input topic (i.e. the scan

[2015-11-19 08:44] mgruhler commented on #248
@ipa-bnm btw, you told me once about another scan unifier. Where is this again?

@ipa-fxm for some mapping algorithms, it is important to have a unified scan of _all_ scans. The problem is actually not in the algorithm itself, but in the, sometimes very, bad calibration of the laser scanners. this results in a "rotational jumping" which produces bad maps. this is why this has been developed in the

[2015-11-19 10:22] benmaidel opened #249 "[cob_scan_unifier] cob_scan_unifier is not merging complete scans in simulation"
_From @ipa-bnm on September 17, 2015 12:5_

scan unifier produce gap on the back of cob4-2
![screenshot from 2015-09-17 14 01 09](https://cloud.githubusercontent.com/assets/483721/9932505/bbfbda80-5d44-11e5-9da1-362de7ea780a.png)

@ipa-frm @ipa-mig @fmessmer FYI

_Copied from original issue: ipa320/cob_navigation#53_

[2015-11-19 10:22] benmaidel commented on #249
_From @ipa-mig on September 18, 2015 6:1_

hmm, also, there is a z-offset (which will probably not be a problem for our use-cases... but we should change that anyways...

[2015-11-19 10:22] benmaidel commented on #249
the z-offset seems to be ok. Imagine the scanners are mounted in different z positions (eg. our BMW). So transform the scans to the ground is ok, from my opinion. A better solution would be the usage of a point cloud instead a merged scan message.

[2015-11-19 10:22] benmaidel commented on #249
https://github.com/iralabdisco/ira_laser_tools
there you can find a tool with the same purpose as cob_scan_unifier.
Difference:
- no gaps
- dynamic reconfigure
- offers point cloud 2 as well

Perhaps we should stick to this package? We could even copy the code from this package to our repo, because it has no license at all.

[2015-11-19 10:40] benmaidel commented on #248
The scan unifier is also used by the led driver (match scan to led ring) and the tablet app (distance view feature on teleop fragment). I'm not aware of any other nodes.

I think a guaranteed publish rate for the assembled scan is not that important than a complete merged scan. So ipa-fxm's proposals (use message_filters and ros::Timers) are the right way to go.

The other scan unifier i found is

[2015-12-22 13:51] ghost opened #256 "[cob_sick_s300] missing distance values of sick s300 driver"
@ipa-josh
@ipa-mig

When using the published scan topics of "cob_sick_s300.cpp" in each message there are 5 distance values (10 Byte) missing.
The above mentioned class is based on the sick S300 driver (e. g. "TelegramS300.h") that reads the telegrams sent by the S300.
One part of this telegram contains the distance values. In "TelegramS300.h" (size_t num_points) the length of these values inside

[2016-01-08 09:30] destogl commented on #249
@ipa-bnm yesterday I ported cob_scan_unifier to tf2 (s. #257), are you proposing to use this other repository and let cob_scan_unifier to die out? This is important to me to know in which direction to go.

Regarding this not merging scans, I also saw it with real scans but can not really say where is the problem.

[2016-01-12 13:50] benmaidel commented on #249
@destogl for now we will stick to cob_scan_unifier. For the moment there are no plans to switch to another solution. But if we continue to have problems with cob_scan_unifier , it could be that we change or reimplement it. I will also have a look at your PR

[2016-02-19 10:40] fmessmer commented on #214
`CTRL+C` and "freezing" has been fixed in https://github.com/ipa320/cob_driver/pull/261
Fixing the warnings is not worth the effort...closing!

[2016-02-19 10:40] #214 closed, assigned to nobody

[2016-03-02 11:11] moriarty opened #266 "[cob_voltage_control] configuration of savitzky_golay"
Hi,

There are python scripts to record and generate the configuration params for the battery_voltage_monitor. We are searching more information information on how to use them properly.

To recored:
[cob_voltage_control/.../record_current_and_voltage.py](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_voltage_control/ros/src/record_current_and_voltage.py)

To generate savitzky_golay confi

[2016-03-04 15:13] fmessmer opened #268 "[cob_scan_unifier] LookupError on start up"
Appears once on startup, probably simply requires a sleep after tf::TransformListener initialization (for filling the buffer):

[code]

Also, `unifieLaserScans` should be `unifyLaserScans` :wink:

[2016-04-07 08:25] floweisshardt opened #272 "cob_sound has hardcoded namespaces"
parameters are hardcoded to `/sound_controller/mode`

[2016-04-07 08:26] floweisshardt opened #273 "fill error message for cob_sound"
if no cepstral voice is installed, cob_sound returns `success=false` but with an empty error message. Should be filled with `no cepstral voice installed`

[2016-04-07 11:47] fmessmer commented on #273
fixed in https://github.com/ipa320/cob_driver/pull/274

[2016-04-07 11:48] fmessmer commented on #272
fixed in https://github.com/ipa320/cob_driver/pull/274 and https://github.com/ipa320/cob_robots/pull/464

[2016-04-08 10:05] #272 closed, assigned to nobody

[2016-04-08 10:05] #273 closed, assigned to nobody

[2016-04-20 08:26] mehditlili opened #276 "Lidar scan is warped"
I had some issues with two sick S300 Professional on my robot and could not get the scans to overlap even after calibrating the lidars realtive to robot center. As it was not caused by some offsets in the lidars pose, I started checking the what the lidar driver was delivering. I also found another [S300 driver](https://github.com/bohlender/sicks300) that delivered a slightly different scan while

[2016-04-20 11:00] mgruhler commented on #276
@mehditlili thank you for providing this issue.

Given your description, this seems to be a duplicate (of some sort) of #256.
I guess that your fix is actually not correct but will probably serve the purpose for now.

As you are speaking about the Sick S300 Professional, I'm guessing you are using the old protocol (`0x0102`). Can you confirm?

(FYI: you can link directly to lines in GitHub by clic

[2016-04-20 16:44] mehditlili commented on #276
I am not sure about the protocol, I just started the launch file until now and it starts publishing the laser scans.

[2016-04-21 05:57] mgruhler commented on #276
Can you please post the product number of the Scanner? If it is `S30B-2011DB` you have the old Professional CMS with protocoll `0x0102`, if it is `S30B-2011GB` you have the scanners with the new protocoll `0x0103`.
You could also check the firmware of the scanners itself. the old one has 1.4x, if I'm not mistaken, the new one 2.x.

[2016-04-21 12:29] mehditlili commented on #276
We use the [S30B-2011DA](https://www.sick.com/media/pdf/3/43/843/dataSheet_S30B-2011DA_1026822_en.pdf)

[2016-04-22 08:39] NadiaHG commented on #268
I had the same issue during the cob4-5 setup. But in this case the error appears constantly and not only  just once on startup. Checking the visualization (RVIZ), I notified that the errors loggin corresponded to a wrong transformation/scanner lecture. The driver mixed the header and the data of the messages, for example the data read by the scan_front were transformed to the scan_right frame. Aft

[2016-04-29 06:32] floweisshardt opened #277 "cob_sound: mute only working for service interface"
the service call `rosservice call /sound/mute` only mutes the service interface, the action interface still produces output

[2016-04-29 08:41] mehditlili commented on #276
What would stand against replacing [this line](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_sick_s300/common/src/ScannerSickS300.cpp#L264)  with
`dAngleStep = 0.5*ScannerSickS300::c_dPi/180.0;`  ?
0.5 is given as angle resolution in the [datasheet](https://www.sick.com/media/dox/3/13/613/Operating_instructions_S300_Safety_laser_scanner_en_IM0017613.PDF) (page 122) of the Sick S300 and

[2016-04-29 09:02] mgruhler commented on #276
Well, true, but you can configure the output to be something different (but why would you want to do that?), and if you don't read enough data to put on the ranges, you'll really be in trouble.
But you are right, this needs to be adapted properly. We could also add a sanity check based on this...

[2016-09-04 19:58] mingless opened #293 "[cob_sick_s300] Timestamp calculation is not implemented"
In ScannerSickS300.cpp `getScan()` function always returns `iTimeNow=0;`
and does not assign value to iTimestamp. This is used by cob_sick_s300.cpp in `publishLaserScan()` to calculate the message timestamp.

[code]

Since it's not implemented it only obfuscates the code while always ending up with `ros::Time::now()`.

Will the timestamp calculation be implemented?

@fmessmer FYI

[2016-09-09 12:23] floweisshardt commented on #293
@ipa-josh: can you please comment on this?

[2016-11-09 20:39] mingless commented on #293
Since I am not currently using any Sick scanners it's not a pressing issue for me, but if needed I am available and will gladly contribute.

[2016-11-10 07:30] mgruhler commented on #293
@mingless thank you for the offer. If you find the time, we are happy to accept any contributions.

Otherwise, we ahve it on our list and will hopefully find the time soon to implement this. @ipa-josh

[2017-01-10 17:24] floweisshardt opened #302 "bms driver: get bool status fields"
publish as Float64 and the cast to bool in power_state_aggregator.py

[code]

[2017-01-10 17:29] floweisshardt commented on #302
other (better) solution is to introduce a `bit_mask` in https://github.com/ipa320/cob_robots/blob/indigo_dev/cob_hardware_config/cob4-2/config/bms.yaml. If set this will ignore factor, is_signed and unit. needs to be implemented in https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_bms_driver/src/cob_bms_driver_node.cpp

[2017-01-19 08:29] #302 closed, assigned to floweisshardt, mathias-luedtke

[2017-01-19 19:53] fmessmer commented on #277
Since we are using the same [say](https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_sound/ros/src/sound.cpp#L204) for action and service, `mute` mutes both action, service and topic

same for play

[2017-01-19 19:53] #277 closed, assigned to nobody

[2017-02-03 12:47] floweisshardt opened #308 "[cob_bms_driver] charging flag cannot be used for docking status"
see discussion in https://github.com/ipa320/msh/issues/595#issuecomment-277238899.

Proper solution is to use a combination of the `charging` and `battery_full` flags and generate a `docked` status out of it. the PowerState message should be enhanced to have this additional flag.

@fmessmer FYI

[2017-02-03 12:58] fmessmer commented on #308
related workaround https://github.com/ipa320/cob_driver/pull/307 with [discussion](https://github.com/ipa320/cob_driver/pull/307#pullrequestreview-19973187)

[2017-02-07 16:31] benmaidel opened #312 "[cob_sound] mute service is not working if play or say is already active"
If we call the mute service during say/play action/service is active the sound output will not mute. Only the next action/service call is rejected if mute is active.

Calling mute should cancel active action or service.

@fmessmer FYI

[2017-02-08 16:17] mgruhler commented on #268
@ipa-nhg do you remember why you had to set the loop rate to 10 Hz here?

[2017-02-09 08:47] fmessmer commented on #224
forget about `catkin_lint`
done in #314

[2017-02-09 13:05] #224 closed, assigned to benmaidel

[2017-02-13 16:02] mgruhler opened #318 "[cob_sick_s300] fix fields parameter and handling."
Currently, there ~~is~~ was (commented out in #317) a warning about using the `fields` parameter, as this is the way to go.
[code]

However, this is not properly implemented. The driver only supports one field, which defeates the purpose of this parameter. Also, this parameter is nowhere documented.

**EDIT** answering @ipa-fxm's question below

To be set in the laser yamls (e.g. [here](https://gi

[2017-03-08 13:07] floweisshardt opened #325 "[cob_sick_s300] try to detect protocoll version automatically"
see discussion https://github.com/ipa320/cob_driver/pull/317#discussion_r104105947

[2017-03-09 07:52] mgruhler commented on #249
Also, check the angle increment, see [comment](https://github.com/ipa320/cob_driver/pull/324#discussion_r105103344)

[2017-03-09 08:19] fmessmer commented on #318
Can someone post what the old config looked like (and where it needs to be set) and what the new config looks like (and where it needs to be set)?

Also, I'd appreciate a few detailed bullet points about what needs to be done implementation-wise to fully implement this feature (and where)

[2017-03-09 09:30] mgruhler commented on #318
@ipa-fxm see edit above.

[2017-03-09 10:53] andreeatulbure opened #327 "header files cob_omni_drive_controller"
Hello,

I tried to extend the cob_omni_drive_controller in order to add a new feature for the raw3-5. I noticed that there are some header files in the src directory of the library (GeomController.h and WheelControllerBase.h). Is there any reason why they are not in the include directory?

Thanks,
Andreea

[2017-03-09 15:30] mathias-luedtke commented on #327
The controller headers are for code reuse only, they are not part of the public API.

[2017-03-16 08:09] #207 closed, assigned to nobody

[2017-03-16 08:18] #256 closed, assigned to nobody

[2017-03-16 08:18] #276 closed, assigned to nobody

[2017-03-16 08:21] fmessmer commented on #248
https://github.com/ipa320/cob_driver/pull/324 uses a callback based approach, thus we do not have a separate publish rate...closing

[2017-03-16 08:21] #248 closed, assigned to nobody

[2017-03-16 08:22] fmessmer commented on #268
fixed in https://github.com/ipa320/cob_driver/pull/324

[2017-03-16 08:22] #268 closed, assigned to nobody

[2017-03-16 15:04] fmessmer commented on #327
@andreeatulbure
is this issue still relevant? if yes, please open it in cob_control (this is where the `cob_omni_drive_controller` package is located)
Closing!

[2017-03-16 15:04] #327 closed, assigned to mathias-luedtke

[2017-03-20 15:02] fmessmer commented on #249
@ipa-mig, is @mig-em working on this after we merged #324?

[2017-03-20 15:32] mgruhler commented on #249
he should be :-)

[2017-03-20 16:02] ghost commented on #249
I can't reproduce this bug in the current scan_unifier. I tested by rotating in a corner of ipa-apartment and farer away to increase the effect, but no gaps showed up.

[2017-03-30 13:20] fmessmer commented on #249
@ipa-bnm @ipa-mig
Have you had a chance to test the latest version of `cob_scan_unifier` (using synchronizer)?
So has this issue become obsolete?

[2017-04-18 12:00] HannesBachter commented on #249
this occured today:
![multiple_scans](https://cloud.githubusercontent.com/assets/15033292/25129671/471e9c2a-243f-11e7-9f66-05866e856582.png)
is this related to the issue? (latest commit is from April 5th 2017)

[2017-05-17 16:18] fmessmer opened #336 "[cob_mimic] improvments and optimizations"
- better transition between starting/ending of mimic, i.e. start of vlc
 - get rid of "Download media content" pop-up
 - maybe implement in C++ (performance?)

required for replacing phoenix gui....

[2017-06-02 15:30] ehocquard opened #338 "[cob_sick_s300] frame rate low with RS-422"
Hello everyone,

I am working with sick s300 advanced sensors for a UAV project. My system is designed with ROS and thanks to your work I have compatibility with sick and ROS.

The sick is connected via a RS-422 interface set up at 500k baud on continuous data transfer, it works.

However, I do observe a rate of scan transfer (on the topic) of **12 Hz** only. [EDIT] with a `publish_frequency` set

[2017-06-02 16:32] fmessmer commented on #338
there is a parameter `publish_frequency` which defaults to 12 :wink:
https://github.com/ipa320/cob_driver/blob/indigo_dev/cob_sick_s300/ros/src/cob_sick_s300.cpp#L146

[2017-06-06 07:52] ehocquard commented on #338
Indeed, thank you for pointing it out.

However changing the parameter does not change the rate of the received message, hence my question/issue on similar experience and maximum speed reached by others.

Log with a publish frequency set to 50:
"average rate: 12.415
	min: 0.028s max: 2.572s std dev: 0.06747s window: 1366
average rate: 12.417
	min: 0.028s max: 2.572s std dev: 0.06715s window: 1379

[2017-06-26 10:36] mgruhler commented on #338
Hi @ehocquard

There are several things to consider here:
1. The scan cycle time of the S300 is 40ms, i.e. the maximum frequency is actually 25Hz. Thus, setting `publish_frequency` to anything above will not do any good :-)
1. I'm actually not sure, if the parameter mentionend by @ipa-fxm actually does what it is supposed to :-) The only thing it can do (if it does) is to put a **lower bound** on

[2017-06-26 10:36] #338 closed, assigned to nobody

[2017-06-26 14:50] ehocquard commented on #338
Hi @ipa-mig ,

Thank you very much for the detailed reply.
I do agree with your comments.

In addition, I have done some analysis from checking baudrate with a scope to code analysis and packet transfer rates. I confirm that with the old S300 (the one I have), 12.5 Hz is the maximum rate we can get via RS-422.

Again thank you to those who developed the package!

[2017-07-10 08:09] fmessmer commented on #336
done in #339

[2017-07-10 08:09] #336 closed, assigned to nobody

[2017-07-18 16:49] fmessmer opened #340 "[cob_mimic] consider c++ implementation"
motivated by discussion https://github.com/ipa320/care-o-bot/issues/42#issuecomment-316046500

The ROS release system does not support `python-pip` dependencies...thus, we cannot release `cob_mimic` with a dependency on `python-vlc-pip`.
We should implement `cob_mimic` in C++ using [`libvlc-dev`](https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml#L2987-L2991) which is provided by `apt`

[2017-07-19 12:27] floweisshardt commented on #340
@ipa-bnm is investigating what would need to be changed

[2017-07-20 14:21] ipa-fez opened #342 "[cob_light] missing return in uint64_t ModeExecutor::execute(cob_light::LightMode)"
[code]

[2017-07-21 09:07] benmaidel commented on #340
It should not be a very big task to port the python code to c++. I think half a day should be enough!
I can do it! It just can take some time till I find half a day off...

[2017-07-21 10:13] floweisshardt commented on #340
this is currently blocking the indigo/kinetic release.
@ipa-bnm please do.

[2017-07-24 10:39] #340 closed, assigned to nobody

[2017-07-24 10:40] fmessmer commented on #342
done in #343

[2017-07-24 10:40] #342 closed, assigned to benmaidel

[2017-07-31 10:45] ipa-rmb opened #350 "Move important files of cob_camera_sensors to object_detection"
@ipa-rmb @ipa-jcl

[2017-08-22 07:00] NadiaHG opened #355 "[cob_mimic] the cpp implementation is not working"
the resolution and rotation of the mimic is wrong and can not be configured using the cpp library for vlc

[2017-08-22 07:01] NadiaHG commented on #355
could we readd the python node? https://github.com/ipa320/cob_driver/pull/356

[2017-09-04 12:49] fmessmer commented on #355
@ipa-nhg
For which robot has this (resolution and rotation) been wrong?
We tested the cpp-driver with various robots...and we did not experience this problem...

Also, I think we should at least use the python-drver which used the vlc-API...because that way we resolved the flickering problem as described in https://github.com/ipa320/msh/issues/714#issuecomment-302705555....even if this means we ha

[2017-09-04 13:03] NadiaHG commented on #355
this was for t-labs and probably is the same problem that had paul-ingolstadt.
I had the same issue with the python-driver that uses the vlc-API , this is an issue with the parametrization of vlc. With the APIs we can't set the parameters that we need (specially` --vout glx`), the need of the parameter could also be a problem related to the graphic card driver, paul-stuttgart (where it is working)

[2017-09-20 05:54] fmessmer commented on #355
a solution might be provided in https://github.com/ipa320/msh/issues/845#issuecomment-330476261
see https://github.com/ipa320/setup_cob4/pull/152

[2017-10-06 07:31] #355 closed, assigned to benmaidel

[2017-11-09 08:13] floweisshardt opened #360 "[cob_light] crashed sometimes"
current workaround is to use `respawn=true` in the launch file. Needs more investiagtion why it crashed

@fmessmer FYI

[2017-12-14 20:10] mitchallain opened #363 "[cob_sick_s300] cob_sick_s300 node uses global parameters"
It appears that the cob_sick_s300 node loads parameters from the global namespace, rather than a private namespace. This makes it tricky to use multiple drivers simultaneously. I have resorted to launching the nodes in a group namespace using the group tag, i.e.
[code]
so that parameters like port can be specified in the **front** namespace

I have used versions of this driver in the past which di

[2017-12-14 20:43] fmessmer commented on #363
https://github.com/ipa320/cob_driver/pull/331 is related

maybe we consider this when finalizing https://github.com/ipa320/cob_robots/issues/732#issuecomment-339601876

[2018-03-15 10:45] maracuya-robotics opened #368 "[cob_sick_lms1xx] Slow publish rate"
We are using `ros-kinetic-cob-sick-lms1xx_0.6.11-0jessie-20180107-151704-0800` from the official ROS repository (http://packages.ros.org/ros/ubuntu) in ROS Kinetic on Debian 8. The scanner is configured to 0.25° and 25 Hz (also set in the node configuration). Here are the reported topic frequencies from `rostopic hz` (each line an individual start of the node):

[code]

As you can see it is way to

[2018-04-18 16:10] fmessmer opened #369 "[cob_sound] bullet-proofing bad file cases"
enhance cob_sound node to not crash in the following cases:
 - file does not exist
 - file is not playable

follow up of https://github.com/ipa320/cob_driver/pull/362

see hints in https://github.com/ipa320/cob_driver/pull/362#issuecomment-349585200

[2018-04-24 13:12] ipa-fxm commented on #360
there is more (but still little) info in https://github.com/ipa320/cob_driver/issues/360

[2018-04-26 09:21] pholthaus opened #370 "cob_light fails to compile"
When trying to build cob_light from source (in gentoo), it fails with the following trace:
https://paste.pound-python.org/show/6nPWo7E1mZ9jQydFplXq/

There seem to be two independent problems when compiling the package.
[code]

[code]

Installed boost version is 1.65.

@fmessmer FYI

[2018-04-27 17:01] fmessmer commented on #370
@pholthau could you propose a PR that fixes it?
@ipa-bnm can you comment?

[2018-04-27 22:16] pholthaus commented on #370
@ipa-fxm Sorry, I don't have a clue how to interpret the boost error message. It somehow looks like some method signatures do not match.

[2018-06-01 06:53] kalectro opened #372 "s300 publish rate throttling does not work"

[2018-06-26 20:05] fmessmer commented on #372
this is a **wontfix** - see discussion in #373

[2018-07-07 11:21] fmessmer commented on #372
#377 removes the publish rate mechanism...and lets the driver publish at hw speed...
slower topic rates need to be achieved with an additional [`topic_tools/throttle`](http://wiki.ros.org/topic_tools/throttle) node

[2018-07-07 11:23] fmessmer commented on #369
vlc does not care much about a file not being playable...I was able to call jpg, bmp, mp3, mp4, pdf, docx....either it played or did not...but it didn't crash...

[2018-07-11 18:40] #372 closed, assigned to nobody

[2018-07-12 10:21] #369 closed, assigned to nobody

[2018-08-06 13:06] jabbenseth commented on #370
I encountered this error on melodic. Fix will be provided in a PR, but there are still some compilation errors for melodic (separate Issues incoming)

The boost error happens on melodic as well:

[code]

[2019-04-10 09:47] fmessmer opened #390 "[cob_sick_s300] improve diagnostics"
the diagnostics concept for the s300 driver is very poor
it should be enhanced:
 - use proper diagnostics updater
 - include topic rate diagnostics
 - ...

[2019-07-04 11:25] cblesing opened #395 "cob_sick_s300 node skips telegrams"
it appears that the cob_sick_s300 node is discarding every second scan from the s300. If i switch on debug information i get the following:

![image](https://user-images.githubusercontent.com/31893608/60662942-13ee2780-9e5e-11e9-8ccb-e20891185e6e.png)

The s300 is configured as follows:
500k Baud
continuous data output
send data via one telegram

In addition to the s300 we have a RS422 to USB conv

[2019-07-22 14:47] tonybaltovski opened #399 "Melodic release"
Could you please do a melodic release, please? Thank you!

[2019-08-07 19:14] fmessmer commented on #399
on the way

[2019-08-07 19:14] #399 closed, assigned to nobody

[2019-08-07 19:20] tonybaltovski commented on #399
Thanks!

[2019-08-29 09:20] RyanHall23 opened #401 "[cob-sick-s300] Process dies"
Cob_sick_s300 process dies after receving some data and log file can't be found to follow stack trace.

Only fix I'm aware of isn't 100% to set respawn to True

[2019-12-11 08:44] fmessmer commented on #401
we are (and have been) using this node without `respawn` for many years...without experiencing crashes...
I'm sorry, but without more information we cannot help here...

how did you start it the node?
is the cabling connected reliably?

[2019-12-11 08:45] fmessmer commented on #370
fixed in #379

[2019-12-11 08:45] #370 closed, assigned to nobody

[2019-12-11 08:49] fmessmer opened #407 "[cob_mimic] cannot be cancelled/preempted"
reproduce like this:
 - `roslaunch cob_bringup mimic.launch`
 - `rosrun actionlib axclient.py /mimic/set_mimic` - send a goal `busy` with `repeat: 5`
 - click `cancel` in the `axclient` - does not cancel but finishes playing all 5 repetitions of `busy`

the action can also not be cancelled by sending another goal from another client:
 - `rosrun actionlib axclient.py `/mimic/set_mimic` - send a goa

[2020-02-19 09:32] #407 closed, assigned to nobody

[2020-07-28 10:30] jspricke opened #415 "Noetic release"
Could you please release this for noetic?
At least cob_undercarriage_ctrl and cob_utilities would be nice (compiles on Noetic)

[2020-08-20 10:57] nlamprian opened #416 "New melodic release"
I'd like to kindly ask for a new release that will include the latest [commit](https://github.com/ipa320/cob_driver/commit/cb45837fcc810753a5c8478dfb1a4cdbabcacbcb).

[2020-08-28 17:56] fmessmer commented on #401
closing due to inactivity

[2020-08-28 17:56] #401 closed, assigned to nobody

[2020-10-14 15:45] fmessmer commented on #416
https://github.com/ros/rosdistro/pull/26962 :heavy_check_mark:

[2020-10-14 15:45] #416 closed, assigned to nobody

[2020-10-14 16:13] fmessmer commented on #415
https://github.com/ros/rosdistro/pull/26963 :heavy_check_mark:

[2020-10-14 16:13] #415 closed, assigned to nobody

[2020-10-14 16:14] jspricke commented on #415
thanks a lot!

[2020-12-02 12:55] maracuya-robotics commented on #368
This got solved by later builds somehow.

[2020-12-02 12:55] #368 closed, assigned to nobody

[2021-02-25 08:10] JasDEng opened #421 "[cob_sick_s300] communication timeout and basic check failed"
Hi,

I came across a problem when using the cob_sick_s300 driver with a s300 LIDAR.
After I launched the driver, it always says communication timeout, basic check failed and invalid byte at n.
Here is a pic of the terminal log. Would you please help with the problem? I really appreciate it.

![Screenshot from 2021-02-25 15-44-18](https://user-images.githubusercontent.com/58424655/109122531-b5d52d0

[2021-11-17 20:04] SinanK94 opened #426 "[cob_sick_s300] two sensors have only the base_link as reference frame"
The scans from my sensors (sensor_1 and sensor_2) are captured in an output "scan" which have a common frame_id (default: base_link). The problem on my mobile robot is that one sensor is placed in the front left and the other sensor is placed in the back right. Therefore, I cannot use the common frame base_link because a map is created from the base_link and not from the respective sensors.

I did

[2021-11-25 17:58] benmaidel commented on #360
closing because the described error was not seen anymore

[2021-11-25 17:58] #360 closed, assigned to nobody

[2021-12-13 08:33] HannesBachter commented on #426
You should introduce two frames (one for each scanner) that describe the position relative to the base link and set those links for the scanners. And in general, maps should be generated in `map` link, not in `base_link`

Maybe you should have a look at those first:
- https://www.ros.org/reps/rep-0105.html
- http://wiki.ros.org/urdf/Tutorials